<div class="container">
  <h2 class="list-title">Liste des échanges</h2>

  @for (exchange of exchanges; track exchange.id) {
    <div class="exchange-card" >
      <div class="exchange-info">
        <p><strong>Date: </strong>{{ exchange.createdAt }}</p>
        <p><strong>Owner: </strong>{{ exchange.owner_proposition.user.username }}</p>
        <p><strong>Taker: </strong>{{ exchange.taker_proposition.user.username }}</p>
        <p><strong>Owner products: </strong>{{ exchange.ownerProducts }}</p>
        <p><strong>Taker products: </strong>{{ exchange.takerProducts }}</p>
        <p><strong>Delivery address: </strong>{{ exchange.delivery_address }}</p>
      </div>
      <div class="status-tag" [ngClass]="{'created': exchange.status === 'CREATED', 'cancelled': exchange.status === 'CANCELLED', 'blocked': exchange.status === 'BLOCKED', 'accepted': exchange.status === 'ACCEPTED', 'received': exchange.status === 'RECEIVED'}">
        {{ exchange.status }}
      </div>
      @if(canAccept(exchange.owner_proposition.user_id, exchange.status)) {
        <button class="btn btn-sm btn-danger btn-product" style="margin-left: 30px" (click)="cancelExchange(exchange.id)">Refuser</button>
        <button class="btn btn-sm btn-success btn-product" style="margin-left: 10px" (click)="acceptExchange(exchange.id)">Accepter</button>
      }
      @if(canReceive(exchange.status)) {
        @if(isOwner(exchange.owner_proposition.user_id)) {
          <button class="btn btn-sm btn-primary btn-product" style="margin-left: 30px" (click)="receiveExchange(exchange.id, exchange.taker_proposition.user_id)">Recevoir</button>
        } @else if(isTaker(exchange.taker_proposition.user_id)) {
          <button class="btn btn-sm btn-primary btn-product" style="margin-left: 30px" (click)="receiveExchange(exchange.id, exchange.owner_proposition.user_id)">Recevoir</button>
        }
      }
    </div>
  }

  <div class="fab-button">
    <button (click)="openScanner()">QR</button>
  </div>
</div>

@if(canOpenRating) {
  <div class="modal" [ngStyle]="{'display': displayStyleRating}"
       style="background: rgba(65, 65, 65, 0.1); backdrop-filter: blur(3px);">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: rgba(63,63,63,0.89);">
        <div class="modal-body" style="text-align:center;">
          <h5 class="modal-title" style="padding:5% 5%; text-align: center; color: white">
            Veuillez noter l'utilisateur avec qui vous avez échangé les produits
          </h5>

          <!-- Star Rating Section -->
          <div class="star-rating" style="margin-bottom: 15px;">
           @for(star of stars; track star; let i = $index) {
             @if(rating >= (i + 1)) {
               <i (click)="rate(i + 1)" class="fa fa-star" style="font-size: 30px; color: #FFD700; cursor: pointer;"></i>
             }
             @else {
               <i (click)="rate(i + 1)" class="fa-regular fa-star" style="font-size: 30px; color: #FFD700; cursor: pointer;"></i>
             }
           }
          </div>

           <!-- Comment Section -->
          <textarea [(ngModel)]="comment"
                    placeholder="Laissez un commentaire"
                    rows="3"
                    style="width: 100%; border-radius: 5px; padding: 10px;"></textarea>

          <div style="margin-top: 20px;">
            <button style="color: white; margin-right: 4%" type="button" class="btn" (click)="closePopupRating()">
              Annuler
            </button>
            <button type="button" class="btn" style="background-color:#6f56dc; color: white" (click)="submitRating()">
              Envoyer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

}
