<div class="container">
  <div class="header">
    <button class="btn btn-success btn-product" style="background: #54cc5e">Mes propositions en cours</button>
  </div>
  <div class="layout">
    @for(item of items; track item.title) {
      <div class="card">
        <label class="cl-checkbox">
          <input type="checkbox" [value]="item.id" (change)="onCheckboxChange($event, item.id)">
          <span></span>
        </label>

        <div class="img">
          <img src="assets/img/produits/haltere.png" alt="altere">
        </div>
        <div class="details">
          <p class="title">{{ item.title }}</p>
          <a>{{ item.owner }}</a>
          <a>  .  </a>
          <a>{{ item.date }}</a>
        </div>
      </div>
    }
  </div>
  <button class="btn btn-primary" (click)="getSelectedItems()">Continuer</button>
</div>
