<div class="container">
  <div class="row">
    <div class="col-md-5 d-flex justify-content-center align-items-center" style="margin-right: 15px; background: #e8e8e8;">
        <img src="{{ product.product_image }}" alt="{{ product.product_name }}">
    </div>
    <div class="col-md-6">
      <div class="product">
        <div class="product-title">{{ product.product_name }}</div>
        <hr class="product-line">
        <div class="product-description">{{ product.description }}</div>
        <div style="display: inline-flex;">
          <div style="margin-top: 15px; width: 38px; height: 38px; border-radius: 50%; overflow: hidden;">
            <img src="assets/img/produits/person.png" style="width: 100%; height: 100%; object-fit: cover"/>
          </div>
          <a style="display:flex; margin-top: 20px; margin-left: 10px;">{{ product.actual_owner.username }}</a>
        </div>
        <div style="margin-top: 15px">
          <button class="btn btn-primary btn-product" style="background: #2baac6" (click)="seeDetails(id)">Modifier</button>
          <button class="btn btn-success btn-product" style="background: #d33c3c">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
