<mat-drawer-container class="sidebar-container">
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="produits">Produits</a>
      <a mat-list-item routerLink="login">Propositions</a>
      <a mat-list-item routerLink="/contact">Historique</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Troc App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
